$primary-color: #b87824;
$secondary-color: #3faa6d;
$lightbackground-color: #fffcf8;

$gray-color: #b4b4b4;

$dark-color: #424242;
$light-color: #fff;

//banner images
$banner-img: "../images/banner.jpg";

//Device Sizes

$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;
$columns: 12;
