header {
  height: 8rem;
  line-height: 7.3rem;
  position: relative;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  .branding {
    color: $secondary-color;
    @include media-query($sm-screen) {
      float: none;
    }
  }

  .toggle-menu {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 2rem;
    display: none;
    @include media-query($sm-screen) {
      display: block;
    }
  }

  nav {
    @include media-query($sm-screen) {
      float: none !important;
    }
    ul {
      display: flex;
      @include media-query($sm-screen) {
        display: block;
        text-align: center;
      }
    }

    li {
      margin-left: 1.2rem;
    }
  }
}

header.is-open {
  height: 30rem !important;
}
