.banner {
  position: relative;
  background: linear-gradient(rgba(131, 100, 17, 0.4), rgba(18, 124, 89, 0.7)),
    url($banner-img);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  color: $light-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  margin-top: -15rem;
  position: relative;
  z-index: 3;
  width: 50vw;
  @include media-query($sm-screen) {
    margin-top: 2rem;
    width: 50vh;
  }
  h2 {
    font-weight: 300;
    @include media-query($sm-screen) {
      font-size: 1.8rem;
      line-height: 1.2;
      margin: 2rem 0;
    }
  }

  .search-wrapper {
    margin-top: 2rem;
    @include media-query($sm-screen) {
      display: block;
    }
    input {
      font-size: 3rem;
      margin-right: 1rem;
      text-indent: 10px;
      @include media-query($sm-screen) {
        width: 90%;
        margin: 1rem auto;
      }
      &::placeholder {
        font-size: 2.5rem;
        opacity: 0.23;
        font-weight: 300;
      }
    }
    button {
      background-color: $secondary-color;
      color: $light-color;
    }
  }
}

.most-download {
  span {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 6rem;
    line-height: 1;
    margin-bottom: 3rem;
  }
}

.most-download-card,
.browse-card {
  position: relative;
  border: 1px solid $gray-color;
  transition: 0.5s ease-in-out;
  margin-bottom: 3rem;

  &:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    transform: translateY(-1rem);
  }

  &:hover .imgbox img {
    transform: scale(1.2);
  }

  .imgbox {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 98%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 98%);
    img {
      width: 100%;
      height: 30rem;
      object-fit: cover;
      transition: 0.5s ease;
    }
  }

  .icon {
    position: absolute;
    border: 5px solid $light-color;
    border-radius: 50%;
    top: 21rem;
    right: 1rem;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);

    img {
      padding: 0.8rem;
    }
  }

  .icon-bg-lightgreen {
    background-color: #adc21d;
  }
  .icon-bg-green {
    background-color: #16c964;
  }
  .icon-bg-blue {
    background-color: #26a1c8;
  }

  small {
    font-size: 1.2rem;
    font-weight: 600;
    margin: -2rem 0 2rem 0;
    display: inline-block;
    color: $dark-color;
  }

  a {
    text-align: right;
    margin: 1rem 0;
    color: $primary-color;
  }
  &-content {
    padding: 1.5rem;
  }
  .flex-content {
    display: flex;
    min-height: 17rem;
    flex-direction: column;
    justify-content: space-between;
  }
}

.browse-card {
  .icon-browse {
    position: absolute;
    top: 12rem;
    right: 1rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 3px solid $light-color;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    img {
      width: 4rem;
      height: 4rem;
    }
  }

  .imgbox {
    img {
      width: 100%;
      height: 17rem;
      object-fit: cover;
    }
  }
}

.browse-research-header {
  @include media-query($md-screen) {
    text-align: center;
  }
  .browse-nav {
    padding: 0.3rem;
    border-bottom: 2px solid $gray-color;
    @include media-query($sm-screen) {
      width: 100%;
      overflow-x: scroll;
      border-bottom: none;
    }
    li {
      margin-right: 1rem;
      padding: 1rem;
      position: relative;
      a {
        color: $dark-color;
      }
      &::after {
        position: absolute;
        content: "";
        width: 0%;
        height: 3px;
        top: 101%;
        left: 0;
        background: $secondary-color;
        transition: 0.5s ease;
      }
      &:hover::after {
        width: 100%;
      }
      &:hover a {
        color: $secondary-color;
      }
    }
  }
}
