.log {
  .center-all {
    height: 100vh;
    @include media-query($xl-screen) {
      display: block;
    }
    @include media-query($sm-screen) {
      display: block;
    }
  }
  .wrapper {
    text-align: center;
    @include media-query($sm-screen) {
      padding: 5rem 0;
    }
  }
  h1 {
    color: $secondary-color;
    margin-bottom: 3rem;
    @include media-query($sm-screen) {
      margin-bottom: 1.5rem;
    }
  }
  h3 {
    font-weight: 300;
    font-size: 5rem;
    margin-bottom: 3rem;
    color: $gray-color;
    @include media-query($sm-screen) {
      font-size: 3rem;
    }
  }
  p {
    margin-bottom: 4rem;
  }
  ul {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    li {
      margin-right: 1rem;
      a:hover {
        color: $secondary-color;
      }
    }
  }

  .img-wrapper {
    img {
      object-fit: cover;
      height: 100vh;
      width: 100%;
      display: block;
    }
  }

  .login-mgs {
    font-size: 2rem;
  }
}
